<Context>
   <Realm className="org.apache.catalina.realm.CombinedRealm">
      <Realm className="org.apache.catalina.realm.JAASRealm"
              appName="Sample"
              useContextClassLoader="true"
              userClassNames="com.sun.security.auth.UserPrincipal"
              roleClassNames="sample.principal.Role"/>
      <!-- UserDatabase resource defined earlier -->
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>
   </Realm>
</Context>
