<Context>
   <Realm className="org.apache.catalina.realm.CombinedRealm">
      <!-- UserDatabase resource defined earlier -->
      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>
      <Realm className="org.apache.catalina.realm.JAASRealm"
              appName="Sample"
              useContextClassLoader="true"
              userClassNames="sample.principal.SamplePrincipal"
              roleClassNames="sample.principal.Role"/>
   </Realm>
<!--
              userClassNames="com.sun.security.auth.UserPrincipal"
              roleClassNames="sample.principal.UserPrincipal,sample.principal.AdminPrincipal"/>
-->
</Context>
